body {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1F2937;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 500px;
}

.logo {
  margin-top: 20px;
  width: 500px;
  
}

.pokemon-image {
  height: 350px;
  padding: 5px 10px;
}

input {
  width: 150px;
  padding: 10px;
  font-size: 1rem;
  margin: 20px 0;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  background-color: #1F2937;
  color: white;
  text-align: center;
}

input::placeholder {
  color: #657283;
}

p {
  color: black;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
}

.card-details {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  color: white
} 

p {
  padding: 0;
  margin-bottom: 10px;
  color: white;
}

.card-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}

button {
  background: #1F2937;
  border: 3px solid #2e3846;
  border-radius: 8px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}

.warning {
  font-size: 16px;
  color: red;
}

.card-info {
  font-size: 15px;
  /* width: 400px; */
}


.details-btn {
  width: 200px;
  color: #657283
}

.carousel {
  display: flex;
  align-items: center;
}

.navigate {
  background: #2e3846;
  padding: 10px 20px;
  margin: 0 10px;
}

.search-container {
  background: #1F2937;
  border: 3px solid #2e3846;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin-top: 20px;
}

.pokeball-btn {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

i {
  color: red;
}

.pokeball {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .pokemon-image {
    height: 500px;
  
  }
  .card-info p {
    font-size: 1.4em;
  }

  .card-name { 
    font-size: 1.5em;
  }
  .search-container {
    height: 65px;
    width: 300px;
  }

  .pokeball-btn {
    width: 75px;
    height: 75px;
  }
  
  input {
    width: 175px;
    font-size: 1.4rem;
  }

  i {
    font-size: 1.7em;
  }
}

@media (min-width: 769px) {
  .pokemon-image {
    height: 400px;
    /* padding: 20px; */
  }

  .card-info p {
    /* margin: 20px 0; */
    font-size: 1.1em;
    margin: .5em 0;
    /* line-height: 1.7em; */
  }

  .card-name {
    font-size: 1.2em;
  }

  .search-container {
    height: 55px;
    width: 320px;
    
  }

  .pokeball-btn {
    width: 65px;
    height: 65px;
  }

  input {
    width: 200px;
    font-size: 1.2rem;
  }
}
